@media (min-width: 760px) {
  .topThree {
    grid-area: topThree;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .otherPosts {
    grid-area: otherPosts;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.blogPosts {
  grid-area: blogPosts;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "topThree"
    "otherPosts";
}

.blogPostCard {
  border-radius: 10px;
  padding: 1em;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid black;
}

.blogPostCard:hover {
  background-color: #99ff66;
}

.topStory {
  font-size: 1.4em;
  color: red;
  font-weight: bold;
}

.topStoryTitle {
  font-size: 1.4em;
  font-weight: bold;
}
.topStoryDate {
  font-style: italic;
}
.topStoryText {
  font-size: 0.9em;
}
.topStoryLink {
  color: blue;
}

.smallCardCategory {
  font-weight: bold;
  color: green;
}

.smallCardTitle {
  font-size: 1.2em;
}

.smallCardDate {
  font-style: italic;
}

.smallCardText {
  font-size: 0.9em;
}
.smallCardLink {
  font-size: 0.9em;
  color: blue;
}
