@import "header.css";
@import "footer.css";
@import "cardsContainer.css";

body {
  font-size: 16px;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.navBar {
  margin-top: 10px;
  grid-area: navBar;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". . navBar . ."
    "header header header header header"
    " blogPosts blogPosts blogPosts blogPosts blogPosts"
    "footer footer footer footer footer";
  grid-gap: 10px;
}

@media (max-width: 760px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
      ". . navBar . ."
      "header header header header header"
      "blogPosts blogPosts blogPosts blogPosts blogPosts"
      "footer footer footer footer footer";
    grid-gap: 10px;
  }
}
